<!DOCTYPE html>
<!-- 타임리프 스키마 설정 -->
<html xmlns:th = "https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Test Page</title>
</head>
<body>
	<h1>언어지능 과정 명단</h1>
	<table border="1">
		<thead>
			<tr>
				<td>번호</td>
				<td>이름</td>
				<td>성별</td>
				<td>나이</td>
			</tr>
		</thead>
		<tbody>
			<!-- 객체 바인딩 해놓은 List 가져와서 출력하기 -->
			<!-- thymeleaf는 태그의 속성을 이용해서 control -->
			<!-- \${이름} : jsp에서는 scope 구분을 안했었음! thymeleaf는 request 영역에서만 꺼낼 수 있음 -->
			<!-- \${session.이름} -->
			<tr th:each="vo:${list}">
			    <!-- prototype 제작에 효과적이다! front 개발자도 볼 때 편하다! -->
				<td th:text = "${vo.id}">번호</td>
				<td th:text = "${vo.name}">이름</td>
				<td th:text = "${vo.gender} + '입니다'">성별</td>
				<td th:text = "${vo.age}"/>
				<!-- th:속성명 : 해당하는 속성에 값을 집어넣겠다. -->
			</tr>
		</tbody>
	</table>
	

</body>
</html>